@model Tasks_Points.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar usuário</h1>

<h5>Tem certeza que deseja apagar o cadastro deste usuário?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permission)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" style="width:100px" class="btn btn-danger" /> |
        <a style="width:100px" class="btn btn-dark" asp-action="Index">Voltar</a>
    </form>
</div>
