@model Tasks_Points.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do usuário</h1>

<div>
    <p>Visualize os detalhes sobre este usuário logo abaixo:</p>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permission)
        </dd>
    </dl>
</div>
<div>
    <a style="width:100px" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a style="width:100px" class="btn btn-dark" asp-action="Index">Voltar</a>
</div>
