@model IEnumerable<Tasks_Points.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="p-3 mb-2 bg-dark text-white">Usuários</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Criar novo</a>
</p>
<table class="table" id="table-usuarios">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coins)
            </th
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coins)
            </td>
            <td>
                <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
