@model Tasks_Points.Models.Recompensa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>
<h5 class="p-2 mb-5 bg-dark text-white">Seu Saldo: @ViewBag.Coins</h5>

<div>
    <p>Visualize os detalhes desse item logo abaixo:</p>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Resgatar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Resgatar" style="width:100px" class="btn btn-info" />
        <a style="width:100px" class="btn btn-dark" asp-action="Index">Resgatar</a>
    </form>
</div>
