@model IEnumerable<Tasks_Points.Models.Recompensa>

@{
    ViewData["Title"] = "Index";
}

<h1 class="p-3 mb-2 bg-dark text-white">Recompensas</h1>
<h5 class="p-2 mb-5 bg-dark text-white">Seu Saldo: @ViewBag.Coins</h5>
<p>
    <a class="btn btn-outline-dark" asp-action="Create">Criar nova</a>
</p>
<table class="table" id="table-recompensas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
